In [2]:
import pandas as pd

In [3]:
data = pd.read_excel('LocalityFinder.xlsx', skiprows = [0], header = 1)

In [4]:
data.head()

,Locality Name,Post\r\nCode,Municipality\r\nName,Ward\r\nName,LGA,District\r\nName,District\r\nCode,Region\r\nName,Region\r\nCode,Property\r\nCount,...,Unnamed: 16374,Unnamed: 16375,Unnamed: 16376,Unnamed: 16377,Unnamed: 16378,Unnamed: 16379,Unnamed: 16380,Unnamed: 16381,Unnamed: 16382,Unnamed: 16383
0,Abbeyard,3737,Alpine Shire Council,Unsubdivided,52201,Ovens Valley,65,Northern Victoria,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abbotsford,3067,Yarra City Council,Langridge,51301,Richmond,70,Northern Metropolitan,3,4851,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aberfeldie,3040,Moonee Valley City Council,Buckley,55601,Niddrie,62,Western Metropolitan,7,1593,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aberfeldy,3825,Baw Baw Shire Council,East,53502,Narracan,58,Eastern Victoria,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Acheron,3714,Murrindindi Shire Council,Eildon,53003,Eildon,24,Northern Victoria,4,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.columns

Index(['Locality Name', 'Post\r\nCode', 'Municipality\r\nName', 'Ward\r\nName',
       'LGA', 'District\r\nName', 'District\r\nCode', 'Region\r\nName',
       'Region\r\nCode', 'Property\r\nCount',
       ...
       'Unnamed: 16374', 'Unnamed: 16375', 'Unnamed: 16376', 'Unnamed: 16377',
       'Unnamed: 16378', 'Unnamed: 16379', 'Unnamed: 16380', 'Unnamed: 16381',
       'Unnamed: 16382', 'Unnamed: 16383'],
      dtype='object', length=16384)

In [6]:
selected_df = data[['Locality Name', 'Municipality\r\nName']]

In [7]:
selected_df

     Locality Name              Municipality\r\nName
0         Abbeyard              Alpine Shire Council
1       Abbotsford                Yarra City Council
2       Aberfeldie        Moonee Valley City Council
3        Aberfeldy             Baw Baw Shire Council
4          Acheron         Murrindindi Shire Council
...            ...                               ...
3940      Yulecart  Southern Grampians Shire Council
3941       Yundool               Moira Shire Council
3942        Yuroke                 Hume City Council
3943       Yuulong         Colac Otway Shire Council
3944       Zeerust   Greater Shepparton City Council

[3945 rows x 2 columns]

In [8]:
selected_df.columns = ['SUBURB', 'LGA']

In [9]:
selected_df

          SUBURB                               LGA
0       Abbeyard              Alpine Shire Council
1     Abbotsford                Yarra City Council
2     Aberfeldie        Moonee Valley City Council
3      Aberfeldy             Baw Baw Shire Council
4        Acheron         Murrindindi Shire Council
...          ...                               ...
3940    Yulecart  Southern Grampians Shire Council
3941     Yundool               Moira Shire Council
3942      Yuroke                 Hume City Council
3943     Yuulong         Colac Otway Shire Council
3944     Zeerust   Greater Shepparton City Council

[3945 rows x 2 columns]

In [10]:
# remove either city council or shire council in the LGA column
def remove_last2words(string):
    lga = ''
    if len(string.split()) == 3:
        lga = string.split()[:-2][0]
    else:
        lga_list = [words for words in string.split()[:-2]]
        for words in lga_list:
            lga += words + ' '
            
    return lga.strip() # remove last white space

In [11]:
selected_df['LGA'] = selected_df['LGA'].apply(remove_last2words)

<ipython-input-11-3b4aab0cf544>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df['LGA'] = selected_df['LGA'].apply(remove_last2words)

In [12]:
selected_df

          SUBURB                 LGA
0       Abbeyard              Alpine
1     Abbotsford               Yarra
2     Aberfeldie       Moonee Valley
3      Aberfeldy             Baw Baw
4        Acheron         Murrindindi
...          ...                 ...
3940    Yulecart  Southern Grampians
3941     Yundool               Moira
3942      Yuroke                Hume
3943     Yuulong         Colac Otway
3944     Zeerust  Greater Shepparton

[3945 rows x 2 columns]

In [13]:
selected_df.drop_duplicates(keep='first', inplace=True)

<ipython-input-13-093cd9539316>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df.drop_duplicates(keep='first', inplace=True)

In [14]:
selected_df

          SUBURB                 LGA
0       Abbeyard              Alpine
1     Abbotsford               Yarra
2     Aberfeldie       Moonee Valley
3      Aberfeldy             Baw Baw
4        Acheron         Murrindindi
...          ...                 ...
3940    Yulecart  Southern Grampians
3941     Yundool               Moira
3942      Yuroke                Hume
3943     Yuulong         Colac Otway
3944     Zeerust  Greater Shepparton

[3220 rows x 2 columns]

In [15]:
# generate locality_ID
locality_ID = []
counter = 1000000
for i in range(len(selected_df)):
    counter += 1
    locality_ID.append(counter)

In [16]:
# create final dataframe
final_df = pd.DataFrame({'LOCALITY_ID' : locality_ID,
                        'SUBURB': selected_df['SUBURB'],
                        'LGA': selected_df['LGA'].apply(lambda x: x.upper())})

In [17]:
final_df

      LOCALITY_ID      SUBURB                 LGA
0         1000001    Abbeyard              ALPINE
1         1000002  Abbotsford               YARRA
2         1000003  Aberfeldie       MOONEE VALLEY
3         1000004   Aberfeldy             BAW BAW
4         1000005     Acheron         MURRINDINDI
...           ...         ...                 ...
3940      1003216    Yulecart  SOUTHERN GRAMPIANS
3941      1003217     Yundool               MOIRA
3942      1003218      Yuroke                HUME
3943      1003219     Yuulong         COLAC OTWAY
3944      1003220     Zeerust  GREATER SHEPPARTON

[3220 rows x 3 columns]

## Find different naming convention between LOCALITY and LGA tables

In [18]:
lga = pd.read_csv('LGA without duplicated park.csv')

In [19]:
locality_lga = final_df['LGA'].sort_values().unique()

In [20]:
locality_lga

array(['ALPINE', 'ARARAT RURAL', 'BALLARAT', 'BANYULE', 'BASS COAST',
       'BAW BAW', 'BAYSIDE', 'BENALLA RURAL', 'BOROONDARA', 'BRIMBANK',
       'BULOKE', 'CAMPASPE', 'CARDINIA', 'CASEY', 'CENTRAL GOLDFIELDS',
       'COLAC OTWAY', 'CORANGAMITE', 'DAREBIN', 'EAST GIPPSLAND',
       'FRANKSTON', 'GANNAWARRA', 'GLEN EIRA', 'GLENELG', 'GOLDEN PLAINS',
       'GREATER BENDIGO', 'GREATER DANDENONG', 'GREATER GEELONG',
       'GREATER SHEPPARTON', 'HEPBURN', 'HINDMARSH', 'HOBSONS BAY',
       'HORSHAM RURAL', 'HUME', 'INDIGO', 'KINGSTON', 'KNOX', 'LATROBE',
       'LODDON', 'MACEDON RANGES', 'MANNINGHAM', 'MANSFIELD',
       'MARIBYRNONG', 'MAROONDAH', 'MELBOURNE', 'MELTON', 'MILDURA RURAL',
       'MITCHELL', 'MOIRA', 'MONASH', 'MOONEE VALLEY', 'MOORABOOL',
       'MORELAND', 'MORNINGTON PENINSULA', 'MOUNT ALEXANDER', 'MOYNE',
       'MURRINDINDI', 'NILLUMBIK', 'NORTHERN GRAMPIANS', 'PORT PHILLIP',
       'PYRENEES', 'QUEENSCLIFFE', 'SOUTH GIPPSLAND',
       'SOUTHERN GRAMPIANS', 'STONNINGTON', 'STRATHBOGIE', 'SURF COAST',
       'SWAN HILL RURAL', 'TOWONG', 'UNINCORPORATED', 'WANGARATTA RURAL',
       'WARRNAMBOOL', 'WELLINGTON', 'WEST WIMMERA', 'WHITEHORSE',
       'WHITTLESEA', 'WODONGA', 'WYNDHAM', 'YARRA', 'YARRA RANGES',
       'YARRIAMBIACK'], dtype=object)

In [21]:
lga_lga = lga['LGA'].sort_values().unique()

In [22]:
lga_lga

array(['BANYULE', 'BAYSIDE', 'BOROONDARA', 'BRIMBANK', 'CARDINIA',
       'CASEY', 'DAREBIN', 'FRANKSTON', 'GLEN EIRA', 'GREATER DANDENONG',
       'HOBSONS BAY', 'HUME', 'KINGSTON', 'KNOX', 'MANNINGHAM',
       'MARIBYRNONG', 'MAROONDAH', 'MELBOURNE', 'MELTON', 'MITCHELL',
       'MONASH', 'MOONEE VALLEY', 'MORELAND', 'MORNINGTON', 'NILLUMBIK',
       'PORT PHILLIP', 'STONNINGTON', 'WHITEHORSE', 'WHITTLESEA',
       'WYNDHAM', 'YARRA', 'YARRA RANGES'], dtype=object)

In [23]:
# find difference between two lga naming convention
locality_difference = list(set(lga_lga)-set(locality_lga))

In [24]:
locality_difference

['MORNINGTON']

In [25]:
final_df['LGA'].mask(final_df['LGA'] == 'MORNINGTON PENINSULA', 'MORNINGTON', inplace = True)

In [27]:
final_df.to_csv('locality.csv', index=False)